
body{
    font-family: sans-serif;
    margin: 0;
}

body {
    display: grid;
    grid-template-areas: 
    "header"
    "aside"
    "main";
    height: 100vh;
}


header{
    display: flex;
    height: 70px;
    background-color:rgb(242, 232, 198);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0%;
}

aside {
    margin: 0%;
    background-color:rgb(242, 232, 198);
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgse{
    display: flex;
    flex-direction: column;
}

.logo{ 
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.logo img{
    height: 50px;
    margin-right: 10px;
    border-radius: 100%;
}

.igm{
    width: 25px ;
    height: 25px;

}

.img2{
    width: 25px;
    height: 25px;
}

*{
    margin: 0;
}




.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color:black;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}

.menu li a:hover{
	color: #d12727;
	transition: all .3s;
}

/* Submenu*/

.submenu{
	position: absolute;
	background: rgb(226, 199, 153);
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.s;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}


.logosVertical {
    display: flex;
    flex-direction: column;
    margin: 1%;

}

.container {
     font-family: sans-serif; 
     display: flex; 
     justify-content: center;
} 

input{
    padding: 10px;
    padding-right: 350px;
    background: rgb(242, 232, 198);
}

.iconb{
    width: 20px;  
}



.libross{
    background-color: rgb(226, 199, 153);
    text-align: center;
}

h2{
    color: black;
    font-weight: 100;
    text-align: center;
    font-style: normal;
    margin-bottom: 5px
}

.librosDS{
    width: 10%;
    text-align: center;
}

.rD{
    background-color: rgb(192, 130, 97);
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: 100;
    text-align: center;
    font-style: normal;
    height: 55px;
}


.textP{
    margin: 10%;
}

.seriee{
   background-color:rgb(192, 130, 97);
}

.seriee{ 
    display: flex;
    justify-content: center;
}

.card-body{
    background:rgb(226, 199, 153);
}


.card{
    width: 18rem; 
    border: #000000; 
}

.btn-primary{
    background: black;
    border: #000000;

}

.aS{
    width: 30% ;
    height: 25% ;
}

.documental{
    background-color: rgb(154, 59, 59);
}

.btn-secondary{
    background:#000000;
    width: 25%;
  
}

.bn3{
    padding: 10px 20px;
    border-radius: 10px;
    width: 25%;
    margin-bottom: 5px;
    

}


.bn2{
    padding: 10px 20px;
    border-radius: 10px;
    width: 25%;
    margin-bottom: 5px;
}



.containerL{
    display: grid;
    grid-template-columns: repeat(2,50%);
    padding: 20px;
    gap: 10px;
    width: 1000px;
}
